.loading-overlay {
    width: 100%;
    height: 100vh; /* تغطية الشاشة بالكامل */
    background-color: rgba(0, 0, 0, 0.5); /* خلفية شبه شفافة */
    z-index: 1000; /* لضمان ظهورها فوق كل العناصر */
  }
  
  .hourglass-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }